/* global styles */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

   /* Custom by Phil */
  .MuiTableContainer-root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  /* form styles */
  form {
    display: inline-block;
    max-width: 800px;
    /*
    margin-bottom: 2rem;
    border: 10px;

    */
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group select {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    font-size: 1rem;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="number"]:focus,
  .form-group select:focus {
    outline: none;
    border-color: #0077ff;
  }
  
  .form-group button {
    background-color: #0077ff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* table styles */
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #0077ff;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    padding: 0.5rem;
    text-align: center;
  }
  
  tbody button {
    background-color: #ff0000;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  /* media queries */
  
  @media screen and (min-width: 768px) {
    .form-group {
      display: flex;
      gap: 1rem;
    }
  
    .form-group label {
      flex-basis: 33.33%;
      text-align: right;
      margin-bottom: 0;
      padding-top: 0.5rem;
    }
  
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group select {
      flex-basis: 66.67%;
    }
  }
  